@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');

/* Base colors*/

:root {
  --color-main: #f68657;
  --color-text: #383a3f;
  --color-dark: #1f2124;
  --color-gray: #677;
  --color-bg: #f3f6f9;
  --color-light: #8b939c;
  --color-lighter: #f9f9f9;
  --color-white: #fff;
  --color-border:#e0e3e6;
}

.light {
  --color-main: #f68657;
  --color-text: #383a3f;
  --color-text-bg: #d6d1d1;
  --color-bg-main: #93c47d;
  --color-bg: #eeeeee;
  --color-white: #fff;
  --color-border:#252629;
  --color-border-shadow: rgba(0, 0, 0, 0.1);
}

.dark {
  --color-main: #f68657;
  --color-text: #d6d1d1;
  --color-dark: #f5f6f7;
  --color-gray: #999;
  --color-bg: #1f2124;
  --color-lighter: #292a2c;
  --color-white: #2e3235;
  --color-border:#252629;
}

/* Base Styles*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
}

body{
  line-height: 1.8em;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
}

/* App */

.container {
  width: 100%;
  height: 100vh;
  color: var(--color-text);
  background-color: var(--color-bg-main);
  display: flex;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1020px;
  height: 88vh;
  margin: 0 auto;
  border-radius: 0.25rem;
  background-color: var(--color-white);
  box-shadow: 1px 1px 6px var(--color-border-shadow);
  position: relative;
}

.main-page {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.app-header {
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
  background-color: var(--color-lighter);
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.app-header h1 {
  font-size: 30px;
  color: var(--color-dark);
  font-weight: 800;
  text-align: center;
}

.app-header button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.app-header button > svg {
  fill: var(--color-dark);
  height: 25px;
  width: 25px;
  object-fit: cover;
}

.app-body {
  padding: 16px;
}


/* NOTES STYLES */
.words {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.words-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
}

.words-title,
.words-count {
  color: var(--color-main);
  font-size: 24px;
  font-weight: 600;
}

.words-count {
  font-size: 18px;
  color: var(--color-gray);
}


.words-list {
  padding: 0;
  margin: 16px 0;
  height: 70vh;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
}

.words-list::-webkit-scrollbar {
  display: none;
}

.words-list-item {
  border-bottom: 1px solid  var(--color-border);
  margin-bottom: 12px;
  padding: 8px 16px;
  transition: all 0.2s ease-in-out;
}

.words-list-item:hover {
  background-color: var(--color-bg);
  cursor: pointer;
}

.words-list-item:hover ~ p, h3 {
  color: var(--color-text)
}

.words-list-item h3,
.words-list-item p span {
  font-weight: 600;
  color: var(--color-gray)
}


.words-list-item p span {
  color: var(--color-gray);
  display: inline-block;
  margin-right: 8px;
}

.words-list-item p {
  font-size: 14px;
  color: var(--color-light);
}

.floating-button {
  font-size: 48px;
  position: absolute;
  bottom: 24px;
  background: var(--color-main);
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.words:nth-child(1) > .floating-button {
  right: 16px;
}

.words:nth-child(2) > .floating-button {
  right: 526px;
}

.floating-button > svg {
  fill: var(--color-bg);
}



/*==============================
=>  Note Styles
================================*/

.word {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.word-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-main);
  padding: 10px;
}

.word-header h3 {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.word-header h3 svg {
  fill: var(--color-main);
  width: 20px;
  margin-right: 8px;
}

.word-header button {
  border: none;
  outline: none;
  font-weight: 600;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
}

.word textarea {
  background-color: var(--color-lighter);
  border: none;
  padding: 16px 12px;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
  vertical-align: center;
  /*height: 70vh;*/
  resize: none;
  scrollbar-width: none; /* Firefox */
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.word textarea:active,
.word textarea:focus {
  outline: none;
  border: none;
}

.word textarea::-webkit-scrollbar {
  display: none;
}

.word textarea::placeholder {
  color: var(--color-gray);
  font-weight: 350;
}

.word-card-edit {
  display: flex;
  height: 50%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.word-card-english, .word-card-translation {
  width: 350px;
  height: 180px;
  margin: 0 20px;
  align-items: center;
  justify-content: center;
  border: 2px groove var(--color-main);
  border-radius: 0.25rem;
}

.word-card-cover {
  background-color: var(--color-main);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border: 0;
}

.word-card-edit svg{
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.word-additional-info {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.word-transcription, .word-example {
  display: flex;
  flex-direction: column;
  /*height: 100%;*/
  width: 600px;
  height: 150px;
  margin: auto;
  justify-content: center;
  border-radius: 0.25rem;
  background-color: var(--color-light);
}

.word-transcription > p:first-child, .word-example  > p:first-child {
  border-radius: 0.25rem;
  font-size: 2rem;
  padding: 10px 0;
  text-align: center;
  font-weight: 600;
  background-color: var(--color-main);
}

.word-card-edit textarea {
  color: var(--color-text)
}
